coqpit==0.0.17
info-nce-pytorch==0.1.4
librosa
lightning==2.2.2
numpy
pandas==1.5.3
pytorch_lightning==2.0.7
soundfile==0.12.1
torch
torchaudio
torchvision
tqdm==4.65.0
transformers
TTS
wandb
trainer
matplotlib